<section class="Candidature-page page-content">
    <h1 class="page-title"> Candidatures <i class="pi pi-angle-right"></i> Liste des candidatures</h1>

    <div class="card">
        <div class="header">
            <h3 class="title">Liste des candidatures Ucac-Icam</h3>
            <div *ngIf="loading">
                <p>Téléchargement en cours...</p>
                <!-- ou utiliser une barre de chargement -->
            </div>
            <button (click)="downloadCandidatureFile()" class="btn btn-danger">
                Exporter la liste des canditats
            </button>
        </div>
        <div class="line"></div>

        <div class="table-content">
            <div class="search-content">
                <div class="select-page-size">
                    <span>Voir</span>
                    <select name="page-size" (change)="handlePageSize($event)" [(ngModel)]="pageSize" id="page-size">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>entrées</span>
                </div>

                <div class="search">
                    <div class="select-item">
                        <span class="label">Categories</span>
                        <select [(ngModel)]="searchOption" (change)="handleCategorieSelect($event)"
                            class="form form-control">
                            <option value="centre">Centre</option>
                            <option value="site">Site</option>
                            <option value="zone">Zone</option>
                        </select>

                        <select class="form form-control" *ngIf="searchOption && searchOption == 'zone'"
                            (change)="handleZoneSelect($event)">
                            <option [value]="">Select zones</option>
                            <option [value]="zone.id" *ngFor="let zone of zones">{{zone.nom}}</option>
                        </select>

                        <select class="form form-control" *ngIf="searchOption && searchOption == 'site'"
                            (change)="handleSiteSelect($event)">
                            <option [value]="site.id" *ngFor="let site of sites">{{site.nom}}</option>
                        </select>

                        <select class="form form-control" *ngIf="searchOption && searchOption == 'centre'"
                            (change)="handleCentreSelect($event)">
                            <option [value]="centre.id" *ngFor="let centre of centres">{{centre.nom}}</option>
                        </select>
                    </div>

                    <div class="search_value">
                        <span>Rechercher</span>
                        <div>
                            <input type="text" name="value" id="value" [(ngModel)]="searchValue"
                                (keyup)="handleSearchValue($event)">
                            <i class="fa fa-close pull-right" *ngIf="searchValue" (click)="searchValue = ''"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table id="table">
                    <tr>
                        <th>
                            <div>
                                Code d'examen <i
                                    class="icon-sort {{this.sortProperty == 'code_examen' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'code_examen'}"
                                    (click)="sort('code_examen')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Nom <i class="icon-sort {{this.sortProperty == 'nom' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'nom'}" (click)="sort('nom')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Prénom <i class="icon-sort {{this.sortProperty == 'prenom' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'prenom'}" (click)="sort('prenom')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Nationalité <i
                                    class="icon-sort {{this.sortProperty == 'nationalite' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'nationalite'}"
                                    (click)="sort('nationalite')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Photo <i class="icon-sort {{this.sortProperty == 'photo' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'photo'}" (click)="sort('photo')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Statut <i class="icon-sort {{this.sortProperty == 'statut' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'statut'}" (click)="sort('statut')"></i>
                            </div>
                        </th>

                    </tr>
                    <tr *ngFor="let candidature of candidatures">
                        <td>{{candidature.code_examen}}</td>
                        <td>{{candidature.compte.name}}</td>
                        <td>{{candidature.compte.prenom}}</td>
                        <td>{{candidature.nationalite}}</td>
                        <td></td>
                        <td>{{candidature.statut}}</td>
                    </tr>
                    <tr *ngIf="searchValue && candidatures.length === 0">
                        <td colspan="6"><span class="vh-center">
                                Aucune candidatures trouvés avec ces lettres dans son nom
                            </span></td>
                    </tr>
                    <tr *ngIf="!searchValue && candidatures.length === 0">
                        <td colspan="6"><span class="vh-center">
                                Aucune candidatures presents dans la base
                            </span></td>
                    </tr>
                </table>
            </div>
            <div class="pagination_content">
                <span>Page {{page}} sur {{nbrOfPage}}, avec {{candidatures.length}} entrées affichées</span>
                <ul class="pagination">
                    <li class="paginate_button previous disabled" id="datatable-responsive_previous" *ngIf="page > 1">
                        <a aria-controls="datatable-responsive" data-dt-idx="0" tabindex="0"
                            (click)="previous()">Précedent</a>
                    </li>
                    <li class="paginate_button active">
                        <a aria-controls="datatable-responsive" data-dt-idx="1" tabindex="0">1</a>
                    </li>
                    <li class="paginate_button next disabled" id="datatable-responsive_next" *ngIf="page < nbrOfPage">
                        <a aria-controls="datatable-responsive" data-dt-idx="2" tabindex="0"
                            (click)="next()">Suivant</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>