<div id="sidebar-container" class="main_menu_side hidden-print main_menu"
    [ngClass]="{extended: isExtended, collapse: !isExtended}">
    <div class="navbar vh-center nav_title" style="border: 0;">
        <a class="site_title" (click)="displaySidebar()"> <span>App Inscription</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_pic">
            <img src="assets/images/avatar1.png" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>Bienvenue,</span>
            <h2>{{this.compte!?.name || ''}} {{this.compte!?.prenom || ''}}</h2>
        </div>
    </div>
    <!-- /menu profile quick info -->
    <div class="menu_section">

        <ul class="nav side-menu" *ngIf="isSuperAdmin">
            <li [ngClass]="{'active-page': url.indexOf('home') > -1}" (click)="goToUrl('home')">
                <a class="link"><i class="fa fa-home"></i> Accueil </a>
            </li>

            <li [ngClass]="{'active-page': url.indexOf('zone') > -1}" (click)="goToUrl('zones')">
                <a class="link"><i class="fa fa-map"></i> Zones </a>
            </li>

            <li [ngClass]="{'active-page': url.indexOf('site') > -1}" (click)="goToUrl('sites')">
                <a class="link"><i class="fa fa-map-marker"></i> Sites </a>
            </li>

            <li [ngClass]="{'active-page': url.indexOf('centre') > -1}" (click)="goToUrl('centre_examen')">
                <a class="link"><i class="fa fa-map-signs"></i> Centres d'examen </a>
            </li>

            <li [ngClass]="{'active-page': url.indexOf('session') > -1}" (click)="goToUrl('session_examen')">
                <a class="link"><i class="fa fa-calendar"></i> Sessions d'examen </a>
            </li>

            <li [ngClass]="{'active-link': url.indexOf('candidature') > -1}" #candidacy
                (click)="showMenuChild(candidacy)">
                <a class="link"><i class="fa fa-envelope"></i>
                    Candidatures <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu child_menu_one_line">
                    <li (click)="goToUrl('liste_candidature')"><a class="sub-link">Liste des candidatures</a></li>
                    <li (click)="goToUrl('gestion_solvabilite')"><a class="sub-link">Gestion de solvabilités</a></li>
                    <li (click)="goToUrl('gestion_admissibilite')"><a class="sub-link">Gestion d'admissibilité</a></li>
                    <li (click)="goToUrl('gestion_admis')"><a class="sub-link">Gestion des admis</a></li>
                </ul>
            </li>

            <li [ngClass]="{'active-link': url.indexOf('entretien') > -1}" #interviews
                (click)="showMenuChild(interviews)">
                <a class="link"><i class="fa fa-microphone"></i> Entretiens <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu child_menu_one_line">
                    <li><a class="sub-link" (click)="goToUrl('calendrier_entretiens')">Calendrier des entretiens</a>
                    </li>
                    <li><a class="sub-link" (click)="goToUrl('calendrier_disponibilites')">Calendrier des
                            disponibilités</a></li>
                    <li><a class="sub-link" (click)="goToUrl('gestion_entretiens')">Gestions des
                            entretiens</a></li>
                    <li><a class="sub-link" (click)="goToUrl('gestion_disponibilites')">Gestions des
                        disponibilités</a></li>
                    <li><a class="sub-link" (click)="goToUrl('periode_entretiens')">Définition période entretiens</a>
                    </li>
                    <li><a class="sub-link" (click)="goToUrl('note_entretiens')">Notes entretiens</a></li>
                </ul>
            </li>

            <li [ngClass]="{'active-link': url.indexOf('admis') > -1}" #list (click)="showMenuChild(list)">
                <a class="link"><i class="fa fa-list"></i> Listes <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu child_menu_one_line">
                    <li><a class="sub-link" (click)="goToUrl('liste_solvable')">Liste des solvables</a></li>
                    <li><a class="sub-link" (click)="goToUrl('liste_admissibilite')">Liste d'admissibilité</a></li>
                    <li><a class="sub-link" (click)="goToUrl('liste_admis')">Liste des admis</a></li>
                </ul>
            </li>

            <li [ngClass]="{'active-link': url.indexOf('role') > -1}" #rules (click)="showMenuChild(rules)"><a
                    class="link"><i class="fa fa-users"></i> Rôles utilisateurs
                    <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu child_menu_two_line">
                    <li><a class="sub-link" (click)="goToUrl('role_admin')">Administrateur</a></li>
                    <li><a class="sub-link" (click)="goToUrl('role_jury')">Membre du jury</a></li>
                </ul>
            </li>

        </ul>

        <ul class="nav side-menu" *ngIf="isAdmin">
            <li [ngClass]="{'active-page': url.indexOf('home') > -1}" (click)="goToUrl('home')">
                <a class="link"><i class="fa fa-home"></i> Accueil </a>
            </li>

            <li [ngClass]="{'active-page': url.indexOf('site') > -1}" (click)="goToUrl('sites')">
                <a class="link"><i class="fa fa-map-marker"></i> Sites </a>
            </li>

            <li [ngClass]="{'active-page': url.indexOf('centre') > -1}" (click)="goToUrl('centre_examen')">
                <a class="link"><i class="fa fa-map-signs"></i> Centres d'examen </a>
            </li>

            <li [ngClass]="{'active-page': url.indexOf('session') > -1}" (click)="goToUrl('session_examen')">
                <a class="link"><i class="fa fa-calendar"></i> Sessions d'examen </a>
            </li>

            <li [ngClass]="{'active-link': url.indexOf('candidature') > -1}" #candidacy
                (click)="showMenuChild(candidacy)">
                <a class="link"><i class="fa fa-envelope"></i>
                    Candidatures <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu child_menu_one_line">
                    <li (click)="goToUrl('liste_candidature')"><a class="sub-link">Liste des candidatures</a></li>
                    <li (click)="goToUrl('gestion_solvabilite')"><a class="sub-link">Gestion de solvabilités</a></li>
                    <li (click)="goToUrl('gestion_admissibilite')"><a class="sub-link">Gestion d'admissibilité</a></li>
                    <li (click)="goToUrl('gestion_admis')"><a class="sub-link">Gestion des admis</a></li>
                </ul>
            </li>

            <li [ngClass]="{'active-link': url.indexOf('entretien') > -1}" #interviews
                (click)="showMenuChild(interviews)">
                <a class="link"><i class="fa fa-microphone"></i> Entretiens <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu child_menu_one_line">
                    <li><a class="sub-link" (click)="goToUrl('calendrier_entretiens')">Calendrier des entretiens</a>
                    </li>
                    <li><a class="sub-link" (click)="goToUrl('calendrier_disponibilites')">Calendrier des
                            disponibilités</a></li>
                            <li><a class="sub-link" (click)="goToUrl('gestion_entretiens')">Gestions des
                                entretiens</a></li>
                        <li><a class="sub-link" (click)="goToUrl('gestion_disponibilites')">Gestions des
                            disponibilités</a></li>
                    <li><a class="sub-link" (click)="goToUrl('periode_entretiens')">Définition période entretiens</a>
                    </li>
                    <li><a class="sub-link" (click)="goToUrl('note_entretiens')">Notes entretiens</a></li>
                </ul>
            </li>

            <li [ngClass]="{'active-link': url.indexOf('admis') > -1}" #list (click)="showMenuChild(list)">
                <a class="link"><i class="fa fa-list"></i> Listes <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu child_menu_one_line">
                    <li><a class="sub-link" (click)="goToUrl('liste_solvable')">Liste des solvables</a></li>
                    <li><a class="sub-link" (click)="goToUrl('liste_admissibilite')">Liste d'admissibilité</a></li>
                    <li><a class="sub-link" (click)="goToUrl('liste_admis')">Liste des admis</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav side-menu" *ngIf="isJury">
            <li [ngClass]="{'active-page': url.indexOf('home') > -1}" (click)="goToUrl('home')">
                <a class="link"><i class="fa fa-home"></i> Accueil </a>
            </li>

            <li [ngClass]="{'active-link': url.indexOf('entretien') > -1}" #interviews
                (click)="showMenuChild(interviews)">
                <a class="link"><i class="fa fa-microphone"></i> Entretiens <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu child_menu_one_line">
                    <li><a class="sub-link" (click)="goToUrl('calendrier_entretiens')">Calendrier des entretiens</a>
                    </li>
                    <li><a class="sub-link" (click)="goToUrl('calendrier_disponibilites')">Calendrier des
                            disponibilités</a></li>
                    <li><a class="sub-link" (click)="goToUrl('intervenant_entretiens')">Intervenants
                            entretiens</a>
                    </li>
                    <li><a class="sub-link" (click)="goToUrl('gestion_entretiens')">Gestions des
                        entretiens</a></li>
                <li><a class="sub-link" (click)="goToUrl('gestion_disponibilites')">Gestions des
                    disponibilités</a></li>
                    <li><a class="sub-link" (click)="goToUrl('note_entretiens')">Notes entretiens</a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>