<section class="calendrier-disponibilite-page calendrier-page page-content">
    <h1 class="page-title"> Entretiens <i class="pi pi-angle-right"></i> Calendrier des disponibilités</h1>
    <div class="page-header">
        <div class="header">
            <h3 class="title">Disponibilité des membres du jury</h3>
        </div>
        <div class="line"></div>
    </div>

    <div>
        <table id="table">
            <thead>
                <th>Horaire</th>
                <th *ngFor="let date of datesOfDisponibilities">{{date | date}}</th>
            </thead>
            <tbody>
                <tr *ngFor="let horaire of horaires">
                    <td>{{horaire}} </td>
                    <td *ngFor="let date of datesOfDisponibilities"
                        [ngClass]="{interviewer: (interverwerMap.get(horaire + ' - ' + date.toString())?.length || 0 > 1)}">
                        <div *ngFor="let interviewer of interverwerMap.get(horaire + ' - ' + date.toString())">
                            {{interviewer}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card">
        <div class="header">
            <h3 class="title">Entretiens concours, session du {{session?.date_examen | date}}</h3>
            <button class="btn btn-danger" (click)="prochaineDate()" *ngIf="datesOfDisponibilities.length > 1">
                Prochaine Date
            </button>
        </div>
        <div class="line"></div>

        <div class="sub-header">
            <h3 class="title">Entretiens concours Ucac-Icam</h3>
            <h3 class="title" *ngIf="currentDate != undefined && currentDate != null">{{currentDate | date}}</h3>
        </div>

        <div class="calendrier" *ngIf="currentDate != undefined && currentDate != null">
            <table id="table">
                <thead>
                    <th>Horaire</th>
                    <th>Centre d'examen</th>
                    <th>Noms</th>
                    <th>Prénoms</th>
                    <th>Interviewer</th>
                </thead>
                <tbody>
                    <tr *ngFor="let time of entretienTimes; let i = index">
                        <td>
                            <p>{{time}}</p>
                            <select *ngIf="time != '12h00 - 13h00'" name="candidat" id="candidat"
                                (change)="handleCandidatSelect($event, time)">
                                <option value="" disabled>Choisir un candidat</option>

                                <option [value]="candidat.compte.email" *ngFor="let candidat of candidats">
                                    {{candidat.compte.name
                                    + ' ' + candidat.compte.prenom}}</option>
                            </select>
                        </td>
                        <ng-container *ngIf="time != '12h00 - 13h00'">
                            <td>{{''}}</td>
                            <td>{{''}}</td>
                            <td>{{''}}</td>
                            <td>
                                <select name="interviewer" id="interviewer"
                                    (change)="handleInterviewerSelect($event, time)">
                                    <option value="" disabled>Choisir un interviewer</option>
                                    <option [value]="interviewer" *ngFor="let interviewer of interviewers">
                                        {{interviewer}}</option>
                                </select>
                            </td>
                        </ng-container>
                        <td colspan="4" class="pause" *ngIf="time === '12h00 - 13h00'">Pause</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="footer">
            <div class="line"></div>
            <div class="btn-group">
                <button class="btn btn-info" (click)="addNote()" type="submit">
                    Soumettre
                </button>
            </div>
        </div>

    </div>

</section>