<section class="calendrier-disponibilite-page calendrier-page page-content">
    <h1 class="page-title"> Entretiens <i class="pi pi-angle-right"></i> Calendrier des disponibilités</h1>
    <div class="page-header">
        <div class="header">
            <h3 class="title">Disponibilité des membres du jury</h3>
        </div>
        <div class="line"></div>
    </div>

    <div>
        <table id="table">
            <thead>
                <th>Horaire</th>
                <th *ngFor="let date of datesOfDisponibilities">{{date | date}}</th>
            </thead>
            <tbody *ngIf="datesOfDisponibilities.length > 0">
                <tr *ngFor="let horaire of horaires">
                    <td>{{horaire}} </td>
                    <td *ngFor="let date of datesOfDisponibilities"
                        [ngClass]="{interviewer: (interverwerMap.get(horaire + ' - ' + date.toString())?.length || 0 > 1)}">
                        <div *ngFor="let interviewer of interverwerMap.get(horaire + ' - ' + date.toString())">
                            {{interviewer}}
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="datesOfDisponibilities.length == 0">
                <tr>
                    <td>Aucun membre du jury n'a encore de periode disponible pour les entretiens</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card">
        <div class="header">
            <h3 class="title">Entretiens concours, session du {{session?.date_examen | date}}</h3>
            <button class="btn btn-danger" (click)="prochaineDate()" *ngIf="datesOfEntretiens.length > 1">
                Prochaine Date
            </button>
        </div>
        <div class="line"></div>

        <div class="sub-header">
            <h3 class="title">Entretiens concours Ucac-Icam</h3>
            <h3 class="title" *ngIf="currentDate">{{currentDate | date}}</h3>
        </div>

        <div class="calendrier" *ngIf="currentDate != undefined && currentDate != null">
            <table id="table">
                <thead>
                    <th>Horaire</th>
                    <th>Centre d'examen</th>
                    <th>Noms</th>
                    <th>Prénoms</th>
                    <th>Intervenant</th>
                </thead>
                <tbody>
                    <tr *ngFor="let time of entretienTimes; let i = index">
                        <td>
                            <p>{{time}}</p>
                            <p-dropdown optionLabel="compte.email" *ngIf="time != '12h00 - 13h00'" name="candidat"
                                id="candidat" [options]="candidats" (onChange)="handleCandidatSelect($event, time)"
                                [showClear]="true" placeholder="Choisir un candidat"></p-dropdown>
                        </td>
                        <ng-container *ngIf="time != '12h00 - 13h00'">
                            <td>{{''}}</td>
                            <td>{{''}}</td>
                            <td>{{''}}</td>
                            <td>
                                <p-dropdown [options]="interviewers" (onChange)="handleInterviewerSelect($event, time)"
                                    [showClear]="true" placeholder="Choisir un intervenant"></p-dropdown>
                            </td>
                        </ng-container>
                        <td colspan="4" class="pause" *ngIf="time === '12h00 - 13h00'">Pause</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="footer">
            <div class="line"></div>
            <div class="btn-group">
                <button class="btn btn-info" (click)="addNote()" type="submit">
                    Soumettre
                </button>
            </div>
        </div>

    </div>

</section>