@use "../abstracts/index" as *;

.card {
    background-color: white;
    position: relative;
    width: auto;
    padding: 0.625rem 1.063rem;
    margin-bottom: 0.625rem;
    border: 1px solid #e6e9ed;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    @include flex-column;
    height: 93%;

    & > .header {
        @include vh-space-between;

        .title {
            color: var(--clr-primary-500);
            margin-block: 0.625rem;
            font-family: var(--Poppins-regular);
            font-weight: 400;
        }

        .btn {
        }
    }

    .line {
        height: 2px;
        margin-bottom: 1.5rem;
        background-color: #e6e9ed;
    }
}
