<p-dialog header="Mise à jour des notes d'un candidat" [closable]="true" [(visible)]="visible" [modal]="true"
    [maximizable]="true" [draggable]="false" [resizable]="false">
    <div class="w-full update-note-dialog">
        <div class="mb-4 mt-5">
            <label class="block text-900 font-medium mb-2">Veuillez choisir le jury, donc vous aimeriez changer les notes.</label>
            <p-dropdown [options]="juries" [(ngModel)]="jury" optionLabel="prenom" [showClear]="true"
                placeholder="Sélectionner le jury"></p-dropdown>
        </div>
        <div *ngIf="jury">
            
        </div>

        <button pButton (click)="validate()" pRipple label="Valider" icon="pi pi-check" class="w-full mt-5"></button>
    </div>
</p-dialog>
<p-toast></p-toast>
