<section class="personnal-information-form-container">
  <div class="grid">
    <div class="col-12 md:col-8 lg:col-8">
      <div class="block-part d-flex flex bg-white my-4 pt-4 pr-4">
        <div class="vertical-bar">
          <div class="losange"></div>
        </div>
        <div>
          <h5 class="text-2xl title mb-2 underline">
            Informations personnelles
          </h5>
          <p class="line-height-3 mb-3">
            Constitue la première étape de votre inscription à notre concours.
            Nous vous invitons à fournir vos détails essentiels, . Ces
            informations nous permettent de vous identifier et de vous contacter
            facilement pour toute communication importante concernant le
            concours. Veuillez remplir avec précision pour garantir une
            inscription réussie
          </p>
          <p-badge value="Note :" styleClass="w-auto" severity="danger"></p-badge>
          <p class="line-height-3 text-sm mt-2 font-medium">
            Vos noms et prénoms devront être renseignés conformément à la
            structure de l'acte de naissance
          </p>
        </div>
      </div>
      <form [formGroup]="form" class="formgrid grid" (ngSubmit)="submit()">
        <div class="field col-12 md:col-6">
          <label class="block" for="nom">Noms (*)</label>
          <input id="nom" type="text" pInputText formControlName="nom" class="w-full" [ngClass]="{
              'ng-invalid ng-dirty':
                formControls['nom'].errors && formControls['nom'].touched,
              'border-green-700': formControls['nom'].valid
            }" />
          <div *ngIf="formControls['nom'].errors" class="mt-2">
            <small id="username-help " class="text-red-500" *ngIf="formControls['nom'].errors['required']">Nom
              requis</small>
            <small id="username-help" class="text-red-500" *ngIf="formControls['nom'].errors['notConform']">Nom non
              conforme, ce dernier ne doit pas uniquement avoir des
              espaces ou des chiffres ou des carectères spéciaux</small>
            <small id="username-help" class="text-red-500" *ngIf="formControls['nom'].errors['minlength']">Nom doit
              avoir minimun 3 caractères</small>
          </div>
          <div *ngIf="formControls['nom'].valid" class="mt-2">
            <small id="username-help " class="text-green-700">C'est bon!</small>
          </div>
        </div>
        <div class="field col-12 md:col-6">
          <label class="block" for="nom">Prénoms (*)</label>
          <input id="prenom" type="text" pInputText formControlName="prenom" class="w-full" [ngClass]="{
              'ng-invalid ng-dirty':
                formControls['prenom'].errors && formControls['prenom'].touched,
              'border-green-700': formControls['prenom'].valid
            }" />
          <div *ngIf="formControls['prenom'].errors" class="mt-2">
            <small class="text-red-500" *ngIf="formControls['prenom'].errors['required']">Prénom requis</small>
            <small class="text-red-500" *ngIf="formControls['prenom'].errors['notConform']">Prénom non conforme, ce
              dernier ne doit pas uniquement avoir des
              espaces ou des chiffres ou des carectères spéciaux</small>
            <small class="text-red-500" *ngIf="formControls['prenom'].errors['minlength']">Prénom doit avoir minimun 3
              caractères</small>
          </div>
          <div *ngIf="formControls['prenom'].valid" class="mt-2">
            <small class="text-green-700">C'est bon!</small>
          </div>
        </div>
        <div class="field col-12 md:col-6">
          <label class="block" for="telephone">Numéro de téléphone(*)</label>
          <input id="telephone" type="tel" pInputText formControlName="telephone" class="w-full" [ngClass]="{
            'ng-invalid ng-dirty':
              formControls['telephone'].errors &&
              formControls['telephone'].touched,
            'border-green-700': formControls['telephone'].valid
          }" />
          <div *ngIf="formControls['telephone'].errors" class="mt-2">
            <small class="text-red-500" *ngIf="formControls['telephone'].errors['required']">Le numéro de téléphone
              requis</small>
              <small class="text-red-500" *ngIf="formControls['telephone'].errors['minLength'] || formControls['telephone'].errors['minlength']">Le numéro de téléphone
                incorrect</small>
          </div>
          <div *ngIf="formControls['telephone'].valid" class="mt-2">
            <small class="text-green-700">C'est bon!</small>
          </div>
        </div>
        <div class="field col-12 md:col-6">
          <label class="block" for="email">Adresse mail(*)</label>
          <input id="email" type="email" pInputText formControlName="email" class="w-full" [ngClass]="{
              'ng-invalid ng-dirty':
                formControls['email'].errors && formControls['email'].touched,
              'border-green-700': formControls['email'].valid
            }" />
          <div *ngIf="formControls['email'].errors" class="mt-2">
            <small class="text-red-500" *ngIf="formControls['email'].errors['required']">Email requis</small>
            <small class="text-red-500" *ngIf="formControls['email'].errors['email']">Email non conforme</small>
            <small class="text-red-500" *ngIf="formControls['email'].errors['notConform']">Email non conforme</small>
          </div>
          <div *ngIf="formControls['email'].valid" class="mt-2">
            <small class="text-green-700">C'est bon!</small>
          </div>
        </div>
        <div class="field col-12 md:col-6">
          <label class="block" for="date_naissance">Date de naissance (*) </label>
          <input id="date_naissance" type="date" pInputText formControlName="date_naissance" class="w-full" [ngClass]="{
              'ng-invalid ng-dirty':
                formControls['date_naissance'].errors &&
                formControls['date_naissance'].touched,
              'border-green-700': formControls['date_naissance'].valid
            }" />
          <div *ngIf="formControls['date_naissance'].errors" class="mt-2">
            <small class="text-red-500" *ngIf="formControls['date_naissance'].errors['required']">Date de naissance
              requis</small>
            <small class="text-red-500" *ngIf="formControls['date_naissance'].errors['max']">La date de naissance ne
              doit pas être superieure au
              {{ dateBefore15Date | date : "yyyy-MM-dd" }}</small>
          </div>
          <div *ngIf="formControls['date_naissance'].valid" class="mt-2">
            <small class="text-green-700">C'est bon!</small>
          </div>
        </div>
        <div class="field col-12 md:col-6">
          <label class="block" for="nationality">Nationalité(*)</label>
          <p-autoComplete class="w-full" [ngModelOptions]="{ standalone: true }" [(ngModel)]="country"
            [suggestions]="filteredCountries" (completeMethod)="filterCounty($event)" field="name"></p-autoComplete>
          <div *ngIf="!country?.name" class="mt-2">
            <small class="text-red-500">Veuillez sélectionner votre nationalité</small>
          </div>
          <div *ngIf="country?.name" class="mt-2">
            <small class="text-green-700">C'est bon!</small>
          </div>
        </div>
        <div class="field col-12 md:col-6">
          <label class="block" for="lieu_naissance">Lieu de naissance (*)</label>
          <p-autoComplete class="w-full" [ngModelOptions]="{ standalone: true }" [(ngModel)]="birthCity"
            [suggestions]="filteredCities" (completeMethod)="filterCity($event)" field="name"></p-autoComplete>
          <div *ngIf="!birthCity?.name" class="mt-2">
            <small class="text-red-500">Veuillez sélectionner votre lieu de naissance</small>
          </div>
          <div *ngIf="birthCity?.name" class="mt-2">
            <small class="text-green-700">C'est bon!</small>
          </div>
        </div>
        <div class="field col-12 md:col-6">
          <label class="block" for="ville_residence">Ville de résidence (*)</label>
          <p-autoComplete class="w-full" [ngModelOptions]="{ standalone: true }" [(ngModel)]="city"
            [suggestions]="filteredCities" (completeMethod)="filterCity($event)" field="name"></p-autoComplete>
          <div *ngIf="!city?.name" class="mt-2">
            <small class="text-red-500">Veuillez sélectionner votre ville de résidence
            </small>
          </div>
          <div *ngIf="city?.name" class="mt-2">
            <small class="text-green-700">C'est bon!</small>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <p>Genre(*)</p>
          <div class="formgroup-inline mt-3">
            <div class="field-radiobutton">
              <input type="radio" value="M" formControlName="genre" />
              <label class="block" for="inlineRadio3">Masculin</label>
            </div>
            <div class="field-radiobutton">
              <input type="radio" value="F" formControlName="genre" />
              <label class="block" for="inlineRadio4">Féminin</label>
            </div>
          </div>
          <div *ngIf="formControls['genre'].errors" class="mt-2">
            <small class="text-red-500">Veuillez selectionner un genre</small>
          </div>
          <div *ngIf="formControls['genre'].valid" class="mt-2">
            <small class="text-green-700">C'est bon!</small>
          </div>
        </div>
        <div class="field col-12 md:col-6 text-right">
          <button type="submit" [disabled]="
              form.invalid ||
              !birthCity.name ||
              !city.name ||
              !country.name 
            " type="submit" pButton pRipple label="Continuer" raised="true" severity="warning"
            class="bg-primary shadow-2 w-max ml-auto text-white p-button-severity p-button-text p-button-raised"></button>
        </div>
      </form>
    </div>
    <div class="vh-center col-12 md:col-4 lg:col-4">
      <uci-filling-progression [step]="1"></uci-filling-progression>
    </div>
  </div>
</section>