@use "../abstracts/index" as *;

.calendrier-disponibilite-page {
    .interviewer {
        div {
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    & > .page-header {
        & > .header {
            @include vh-space-between;

            .title {
                color: var(--clr-primary-500);
                margin-block: 0.625rem;
                font-family: var(--Poppins-regular);
                font-weight: 400;
            }
        }

        .line {
            height: 2px;
            margin-bottom: 1.5rem;
            background-color: #e6e9ed;
        }
    }

    & > .page-header + div {
        margin-bottom: 1.5rem;
    }

    & > .card {
        & > .header {
            div {
                .mr-1 {
                    margin-right: 1rem;
                }
            }
        }
        height: max-content;
        & > .sub-header {
        }

        & > .calendrier {
            margin-bottom: 1rem;

            select {
                width: 100%;
            }
        }

        & > .footer {
            .line {
                margin-bottom: 0;
            }

            .btn-group {
                @include vh-end;
            }
        }
    }
}
