<section class="define_note_interview_page page-content flex  justify-content-between flex-column">
    <div>
        <div class="flex-wrap vh-space-between mt-2">
            <button pButton pRipple type="button" label="Evalution des Candidats"
                class="p-button-sm p-button-raised p-button-secondary"></button>
            <p class="text-red-500 font-bold">Temps: {{minute + ' min : ' + second + ' s'}}</p>
        </div>
        <div class="flex-wrap vh-space-between mt-4">
            <div class="vh-center">
                <h1 class="mr-4">Entretien de : </h1>
                <h3 class="font-medium capitalize">{{entretien?.candidat ?? ''}}</h3>
            </div>
            <div class="vh-center">
                <h3 class="mr-4">Cycle : </h3>
                <h3 class="font-medium capitalize">{{entretien?.cycle ?? ''}}</h3>
            </div>
        </div>
        <div class=" mt-4">
            <div class="flex-wrap vh-space-between mb-4" *ngFor="let formation of formations">
                <input type="text" [readOnly]="true" [disabled]="true" pInputText
                    [ngModel]="'Note ' + formation.parcours" />
                <div class="flex gap-2">
                    <button pButton pRipple label="{{note}}" (click)="formation.note = note" type="button"
                        class="p-button-sm p-button-raised p-button-rounded" *ngFor="let note of notes"
                        [ngClass]="{ 'p-button-outlined': (formation.note != note), 'p-button-success':  (formation.note == note)}"></button>
                </div>

                <button pButton pRipple type="button" icon="{{(formation.note > 0) ? 'pi pi-check' : 'pi pi-times'}}"
                    class="p-button-sm p-button-raised p-button-rounded"
                    [ngClass]="{ 'p-button-success': (formation.note > 0), 'p-button-danger':(formation.note == 0) }">
                </button>
            </div>
        </div>
        <div class="mb-4">
            <textarea class="w-full" placeholder="Ajoutez un commentaire" pInputTextarea [(ngModel)]="comment"
                [rows]="10" [autoResize]='true'></textarea>
        </div>
    </div>
    <div class="vh-end">
        <button pButton pRipple type="button" label="Valider" [disabled]="timeout"
            class="p-button-sm p-button-raised p-button-success" (click)="confirm($event)"></button>
    </div>
</section>

<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>