<div class="flex h-screen">
    <div class="bg-orange-200 hidden md:flex w-full md:w-4 justify-center items-center">
        <img src="/assets/images/auth/signin.svg" class="w-10 mx-auto" alt="" loading="lazy" srcset="">
    </div>
    <div class=" w-full lg:w-8 flex justify-center items-center">
        <div class="surface-card p-8 shadow-2 border-round w-full flex flex-column justify-content-center">
            <div class="w-full md:w-8 mx-auto">
                <!-- <div class="text-center mb-5">
                    <img src="assets/logos/LogoUcacIcamjpg.jpg" alt="UCAC ICAM Logo" height="80" />

                    <div class="text-900 text-3xl font-medium mb-3">Bienvenue chez UCAC-ICAM !</div>
                    <span class="text-600 font-medium">Connectez-vous à votre compte</span>
                </div> -->

                <div class="mb-5">
                    <div class="text-center">
                        <img src="assets/logos/LogoUcacIcamjpg.jpg" alt="UCAC ICAM Logo" class="mx-auto mb-5" height="80" />
                    </div>
                    
                    <div>
                        <small class="text-600">Ravi de vous revoir ! 👋</small>
                    <p class="text-900 text-xl md:text-3xl font-medium my-0">Connectez-vous à votre compte</p>
                    </div>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="login()" class="p-fluid">
                    <div class="field">
                        <label for="email" class="font-medium text-900">Email</label>
                        <input id="email" type="email" pInputText formControlName="username" class="w-full"
                            placeholder="Entrez votre adresse mail" />
                        <small
                            *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)"
                            class="text-red-500">Email is required and must be valid.</small>
                    </div>
                    <div class="field">
                        <label for="password" class="font-medium text-900">Mot de passe</label>
                        <input id="password" type="password" pPassword formControlName="password" class="w-full"
                            placeholder="Entrez votre mot de passe" />
                        <small
                            *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
                            class="text-red-500">Password is required.</small>
                    </div>

                    <button pButton pRipple type="submit" label="Connectez-vous" [disabled]="loginForm.invalid"
                        class="w-full mt-3 bg-orange-500 border-orange-500 hover:bg-orange-600 hover:border-orange-600 "></button>
                </form>
                <div class="flex align-items-center justify-content-start mt-3">
                    <a href="#" class="font-medium text-orange-500 text-sm cursor-pointer">Mot de passe oublié ?</a>
                </div>
            </div>
        </div>
    </div>
</div>