//https://www.w3schools.com/css/css_grid.asp

body {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 0.875rem;
    font-family: var(--Poppins-regular);
    background: #f7f7f7;
}

* {
    font-family: var(--Poppins-regular);
}

#app {
    overflow: hidden;
    // display: grid;
    // grid-template-areas: "sidebar header" "sidebar main" "sidebar  footer";
    // grid-template-columns: auto 1fr;
    // grid-template-rows: var(--header-height) auto auto;

    display: grid;
    grid-template-areas:
        "menu header header header header header"
        "menu main main main main main"
        "menu footer footer footer footer footer";
    grid-template-columns: max-content;
    grid-template-rows: max-content 1fr;

    .item1 {
        grid-area: header;
        height: var(--header-height);
    }
    .item2 {
        grid-area: menu;
    }
    .item3 {
        overflow-x: auto;
        width: 100%;
        grid-area: main;
        padding: 1rem;
        padding-bottom: 0;
    }
    .item4 {
        grid-area: footer;
        margin-top: 1rem;
        height: var(--header-height);
    }
}
