<section class="grid stat-card-container">
  <div class="col-9">
    <section class="active_session">
      <p>
        Session en cours: <strong>{{ session?.nom ?? '' }}</strong>
      </p>
    </section>
    <section class="statistics">
      <section class="stat-card">
        <div class="stat-icon">
          <i class="fa-solid fa-users"></i>
        </div>
        <div class="stat">
          <p class="label">Candidature total</p>
          <p class="value">{{ statCandidatures?.nbCandidaturesTotal ?? 0 }}</p>
        </div>
      </section>

      <section class="stat-card">
        <div class="stat-icon">
          <i class="fa-solid fa-users"></i>
        </div>
        <div class="stat">
          <p class="label">Candidats entretenus</p>
          <p class="value">16</p>
          <p class="value"></p>
        </div>
      </section>

      <section class="stat-card">
        <div class="stat-icon">
          <i class="fa-solid fa-school-lock"></i>
        </div>
        <div class="stat">
          <p class="label">Candidature en attentes</p>
          <p class="value">{{ statCandidatures?.nbCandidaturesEnAttente ?? 0 }}</p>
        </div>
      </section>
    </section>
  </div>
  <div class="col-3">
    <section>
      <section class="information_card">
        <div class="information">
          <p class="label">Prochaine Session</p>
          <p class="value">
            {{
            nextSession != null
            ? (nextSession.date_examen | date)
            : "Non defini"
            }}
          </p>
        </div>
        <div class="information">
          <p class="label">Compte à rebours</p>
          <p class="value">
            {{ compteARebour }} {{ compteARebour < 0 ? 'Jours' : 'Jour' }} </p>
        </div>
      </section>
    </section>
  </div>
</section>

<section class="charts-container">
  <section>
    <section class="information_card">
      <div class="information">
        <p class="label">Centre d'examen</p>
        <p class="value">{{ statCandidatures?.nbCentreExamenParticipant ?? 0 }}</p>
      </div>
      <div class="information">
        <p class="label">Sites</p>
        <p class="value">{{ statCandidatures?.nbSiteParticipant ?? 0 }}</p>
      </div>
    </section>
  </section>
  <section>
    <h1 class="title">Candidats entrenu par sites</h1>
    <app-pie-chart [datasets]="datasetsCandidatEntretenuParSite"
      [labels]="labelsCandidatEntretenuParSite"></app-pie-chart>
  </section>
  <section>
    <h1 class="title">Candidats entrenu par zones</h1>
    <app-bar-chart [datasets]="datasetsCandidatEntretenuParZone"
      [labels]="labelsCandidatEntretenuParZone"></app-bar-chart>
  </section>
  <section>
    <h1 class="title">Nombre de candidats entrenu par formation</h1>
    <div class="chart-container">
      <canvas id="MyConcourChart"></canvas>
    </div>
  </section>
</section>

<section style="margin-top: 3rem;">
  <div class="card">
    <p-table #dt1 selectionMode="single" dataKey="candidat" responsiveLayout="scroll" [value]="entretiens" dataKey="id"
      [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10, 25, 50]" [loading]="loading"
      [paginator]="true" currentPageReportTemplate="Présente {first} à {last} de {totalRecords} entrées"
      [globalFilterFields]="['candidat','jury','done',  'centre','debut_entretien']">
      <ng-template pTemplate="caption">
        <div class="vh-space-between flex justify-content-between ">
          <div>

            <h2 class="text-lg font-bold">Entretiens programmés</h2>
            <h4 class="text-orange-500 ">Session de {{session?.date_examen
              | date:'MMMM':'fr'}}</h4>
          </div>
          <div>
            <button pButton label="Reiniatialiser" class="p-button-outlined mr-2" icon="pi pi-filter-slash"
              (click)="commonService.clear(dt1)"></button>
            <span class="ml-2 p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt1.filterGlobal(getEventValue($event), 'contains')"
                placeholder="Rechercher" />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width:15rem">
            <div class="flex align-items-center">
              Candidat
              <p-columnFilter type="text" field="candidat" display="menu"></p-columnFilter>
            </div>
          </th>
          <th style="min-width:15rem">
            <div class="flex align-items-center">
              Centre
              <p-columnFilter type="text" field="centre" display="menu"></p-columnFilter>
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex align-items-center">
              Date
              <p-columnFilter type="date" field="debut_entretien" display="menu"></p-columnFilter>
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex align-items-center">
              Heure
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex align-items-center">
              Status
              <p-columnFilter field="status" matchMode="equals" display="menu">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                    placeholder="Any">
                    <ng-template let-option pTemplate="item">
                      <p-tag [value]="option.value" [severity]="commonService.getSeverity(option.label)"></p-tag>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-entretien>
        <tr>
          <td>
            {{ entretien.candidat }}
          </td>
          <td>
            {{ entretien.centre }}
          </td>
          <td>
            {{ entretien.debut_entretien | date: 'MM/dd/yyyy' }}
          </td>
          <td>
            {{ entretien.debut_entretien | date: 'H:mm:ss' }}
          </td>
          <td>
            <p-tag [value]="commonService.getStatusLabel(entretien.done)"
              [severity]="commonService.getSeverity(entretien.done)"></p-tag>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">Aucun entretien programmé pour le moment.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>