<section class="note-page page-content">
    <h1 class="page-title"> Entretiens <i class="pi pi-angle-right"></i> Notes entretiens</h1>

    <div class="card">
        <div class="header">
            <h3 class="title">Liste des notes
            </h3>

            <div class="mb-1">
                <button pButton pRipple type="button" label="Telecharger les notes" (click)="showDialog()"
                class="ml-2 p-button-sm p-button-raised bg-orange-500 border-orange-500"></button>
            </div>
        </div>
        <div class="line"></div>

        <section class="mt-3">
            <p-table #dt1 selectionMode="single" [(selection)]="selectedEntretien" dataKey="candidat" 
                 responsiveLayout="scroll" [value]="notes" dataKey="idCandidature" [rows]="5"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10, 25, 50]" [loading]="loading"
                [paginator]="true" currentPageReportTemplate="Présente {first} à {last} de {totalRecords} entrées"
                [globalFilterFields]="['nom','prenom','nationalite',  'centre','has_exchange']">
                <ng-template pTemplate="caption">
                    <div class="vh-space-between flex justify-content-between ">
                        <div>

                            <h2 class="text-lg font-bold">Note Entretiens</h2>
                            <h4 class="text-orange-500 ">Session de {{session?.date_examen
                                | date:'MMMM':'fr'}}</h4>
                        </div>
                        <div>
                            <button pButton label="Reiniatialiser" class="p-button-outlined mr-2"
                                icon="pi pi-filter-slash" (click)="commonService.clear(dt1)"></button>
                            <span class="ml-2 p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"
                                    (input)="dt1.filterGlobal(getEventValue($event), 'contains')"
                                    placeholder="Rechercher" />
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width:15rem">
                            <div class="flex align-items-center">
                                Nom
                                <p-columnFilter type="text" field="nom"
                                    display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width:15rem">
                            <div class="flex align-items-center">
                                Prenom
                                <p-columnFilter type="text" field="prenom"
                                    display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width:15rem">
                            <div class="flex align-items-center">
                                Centre
                                <p-columnFilter type="text" field="centre" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width:15rem">
                            <div class="flex align-items-center">
                                Nationalité
                                <p-columnFilter type="text" field="nationalite" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width:10rem">
                            <div class="flex align-items-center">
                                Veut la bourse
                                <p-columnFilter type="text" field="has_exchange" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th style="width:4rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-note>
                    <tr>
                        <td>
                            {{ note.nom }} 
                        </td>
                        <td>
                            {{ note.prenom }} 
                        </td>
                        <td>
                            {{ note.centre }}
                        </td>
                        <td>
                            {{ note.nationalite }}
                        </td>
                        <td>
                            {{ note.has_exchange ? "Oui" : "Non" }}
                        </td>
                        <td>
                            <button type="button"   class="ml-2 p-button-sm p-button-raised " pButton pRipple icon="pi pi-arrow-right" (click)="goToNoteSumaryPage(note.idCandidature)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">Aucune note pour le moment.</td>
                    </tr>
                </ng-template>
            </p-table>
        </section>
    </div>
</section>


<app-parcours-dialog [visible]="visible" [showExportAllCandidature]="false" (criteria)="getCriteria($event)" *ngIf="visible"></app-parcours-dialog>
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>