<section class="compte-page page-content" *ngIf="!isFormCompte else addCompte">
    <h1 class="page-title"> Rôles utilisateur <i class="pi pi-angle-right"></i> Membre du jury</h1>

    <div class="card">
        <div class="header">
            <h3 class="title">Liste des membres du jury Ucac-Icam
            </h3>
            <button class="btn btn-danger" (click)="viewCompte('form')">
                Ajouter un membre du jury
            </button>
        </div>
        <div class="line"></div>

        <div class="table-content">
            <div class="search-content">
                <div class="select-page-size">
                    <span>Voir</span>
                    <select name="page-size" (change)="handlePageSize($event)" [(ngModel)]="pageSize" id="page-size">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>entrées</span>
                </div>
                <div class="search_value">
                    <span>Rechercher</span>
                    <div>
                        <input type="text" name="value" id="value" [(ngModel)]="searchValue"
                            (keyup)="handleSearchValue($event)">
                        <i class="fa fa-close pull-right" *ngIf="searchValue" (click)="searchValue = ''"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <table id="table">
                    <tr>
                        <th>
                            <div>
                                Nom <i class="icon-sort {{this.sortProperty == 'name' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'name'}" (click)="sort('name')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Prenom <i class="icon-sort {{this.sortProperty == 'prenom' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'prenom'}" (click)="sort('prenom')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Email <i class="icon-sort {{this.sortProperty == 'email' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'email'}" (click)="sort('email')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Telephone <i
                                    class="icon-sort {{this.sortProperty == 'telephone' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'telephone'}"
                                    (click)="sort('telephone')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                #
                            </div>
                        </th>
                    </tr>
                    <tr *ngFor="let compte of comptes">
                        <td>{{compte.name}}</td>
                        <td>{{compte.prenom}}</td>
                        <td>{{compte.email}}</td>
                        <td>{{compte.telephone}}</td>
                        <td>
                            <button class="btn" (click)="updateCompte(compte)">
                                <div>
                                    <i class="fa-solid fa-pencil"></i>
                                </div>
                                <span>
                                    Modifier
                                </span>
                            </button>

                            <button class="btn mt-2" (click)="deleteCompte(compte.id || 0)">
                                <div>
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                                <span>
                                    Supprimer
                                </span>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="searchValue && comptes.length === 0">
                        <td colspan="5"><span class="vh-center">
                                Aucun comptes trouvées avec ces lettres dans son nom
                            </span></td>
                    </tr>
                    <tr *ngIf="!searchValue && comptes.length === 0">
                        <td colspan="5"><span class="vh-center">
                                Aucun comptes presentent dans la base
                            </span></td>
                    </tr>
                </table>
            </div>
            <div class="pagination_content">
                <span>Page {{page}} sur {{nbrOfPage}}, avec {{comptes.length}} entrées affichées</span>
                <ul class="pagination">
                    <li class="paginate_button previous disabled" id="datatable-responsive_previous" *ngIf="page > 1">
                        <a aria-controls="datatable-responsive" data-dt-idx="0" tabindex="0"
                            (click)="previous()">Précedent</a>
                    </li>
                    <li class="paginate_button active">
                        <a aria-controls="datatable-responsive" data-dt-idx="1" tabindex="0">1</a>
                    </li>
                    <li class="paginate_button next disabled" id="datatable-responsive_next" *ngIf="page < nbrOfPage">
                        <a aria-controls="datatable-responsive" data-dt-idx="2" tabindex="0"
                            (click)="next()">Suivant</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>

<ng-template #addCompte>
    <section class="compte-page page-content">
        <h1 class="page-title"><img (click)="viewCompte()" class="icon" src="/assets/icons/undo-outline.svg" alt=""
                srcset=""> Rôles utilisateur <i class="pi pi-angle-right"></i> Membre du jury <i
                class="pi pi-angle-right"></i>
            Ajouter un membre du jury</h1>
        <div class="card">
            <div class="header">
                <h3 class="title">Ajouter un membre du jury
                </h3>
            </div>
            <div class="line"></div>
            <form class="form" [formGroup]="formCompte" (ngSubmit)="createOrUpdateCompte()">
                <div class="header">
                    Veullez remplir les champs suivants
                    <div class="line"></div>
                </div>
                <div class="main">
                    <div class="row">
                        <div class="form-group">
                            <label for="">Nom *</label>
                            <input type="text" formControlName="name"
                                [ngClass]="{required: formCompte.get('name')!.invalid}">
                        </div>
                        <div class="alert" *ngIf="formCompteControl['name'].errors">
                            <div *ngIf="formCompteControl['name'].errors['required']">
                                Veuillez s'il vous plait entrer une
                                valeur
                            </div>
                            <div *ngIf="formCompteControl['name'].errors['minlength']">
                                Nom doit avoir au minimun 4 charactères
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="">Prenom *</label>
                            <input type="text" formControlName="prenom"
                                [ngClass]="{required: formCompte.get('prenom')!.invalid}">
                        </div>
                        <div class="alert" *ngIf="formCompteControl['prenom'].errors">
                            <div *ngIf="formCompteControl['prenom'].errors['required']">
                                Veuillez s'il vous plait entrer une
                                valeur
                            </div>
                            <div *ngIf="formCompteControl['prenom'].errors['minlength']">
                                Prenom doit avoir au minimun 4 charactères
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="">Email *</label>
                            <input type="text" formControlName="email"
                                [ngClass]="{required: formCompte.get('email')!.invalid}">
                        </div>
                        <div class="alert" *ngIf="formCompteControl['email'].errors">
                            <div *ngIf="formCompteControl['email'].errors['required']">
                                Veuillez s'il vous plait entrer une
                                valeur
                            </div>
                            <div *ngIf="formCompteControl['email'].errors['email']">
                                Votre Email doit respecter le format des emails
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="">Telephone *</label>
                            <input type="text" formControlName="telephone"
                                [ngClass]="{required: formCompte.get('telephone')!.invalid}">
                        </div>
                        <div class="alert" *ngIf="formCompteControl['telephone'].errors">
                            <div *ngIf="formCompteControl['telephone'].errors['required']">
                                Veuillez s'il vous plait entrer une
                                valeur
                            </div>
                            <div *ngIf="formCompteControl['telephone'].errors['minlength']">
                                Prenom doit avoir au minimun 4 charactères
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="">Mot de passe *</label>
                            <input type="text" formControlName="password"
                                [ngClass]="{required: formCompte.get('password')!.invalid}">
                        </div>
                        <div class="alert" *ngIf="formCompteControl['password'].errors">
                            <div *ngIf="formCompteControl['password'].errors['required']">
                                Veuillez s'il vous plait entrer une
                                valeur
                            </div>
                            <div *ngIf="formCompteControl['password'].errors['minlength']">
                                Prenom doit avoir au minimun 4 charactères
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="">Confirmer le mot de passe *</label>
                            <input type="text" formControlName="confirm_password"
                                [ngClass]="{required: formCompte.get('confirm_password')!.invalid}">
                        </div>
                        <div class="alert" *ngIf="formCompteControl['confirm_password'].errors">
                            <div *ngIf="formCompteControl['confirm_password'].errors['required']">
                                Veuillez s'il vous plait entrer une
                                valeur
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group">
                            <label for="">Zone d'appartenance *</label>
                            <select formControlName="idZone" [ngClass]="{required: formCompte.get('idZone')!.invalid}">
                                <option value="">Zone d'appartenance</option>
                                <option [value]="zone.id" *ngFor="let zone of zones">{{zone.nom}}</option>
                            </select>
                        </div>
                        <div class="alert" *ngIf="formCompteControl['idZone'].errors">
                            <div *ngIf="formCompteControl['idZone'].errors['required']">
                                Veuillez s'il vous plait entrer une
                                valeur
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer">
                    <div class="line"></div>
                    <div class="btn-group">
                        <button class="btn btn-info" [disabled]="formCompte.invalid" type="submit">
                            Soumettre
                        </button>

                        <button class="btn btn-danger" type="reset" (click)="formCompte.reset()">
                            Renitialiser
                        </button>
                    </div>
                </div>
            </form>


        </div>
    </section>
</ng-template>
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>