<section class="Candidature-page page-content">
    <h1 class="page-title"> Candidatures <i class="pi pi-angle-right"></i> Gestion des admis</h1>

    <div class="card">
        <div class="header">
            <h3 class="title">Liste des candidatures et notes entretiens</h3>
            <button class="btn btn-danger" (click)="downloadAdmissCandidatureFile()">
                <!-- <input type="file" name="" id="" #file hidden> -->
                Exporter la liste des canditats
            </button>
        </div>
        <div class="line"></div>

        <div class="table-content">
            <div class="search-content">
                <div class="select-page-size">
                    <span>Voir</span>
                    <select name="page-size" (change)="handlePageSize($event)" [(ngModel)]="pageSize" id="page-size">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>entrées</span>
                </div>
                <div class="search">
                    <div class="select-item">
                        <span class="label">Categories</span>
                        <select [(ngModel)]="searchOption" (change)="handleCategorieSelect($event)"
                            class="form form-control">
                            <option value="centre">Centre</option>
                            <option value="site">Site</option>
                            <option value="zone">Zone</option>
                        </select>

                        <select [(ngModel)]="zone" class="form form-control"
                            *ngIf="searchOption && searchOption == 'zone'" (change)="handleZoneSelect($event)">
                            <option [value]="zone" *ngFor="let zone of zones">{{zone.nom}}</option>
                        </select>

                        <select [(ngModel)]="site" class="form form-control"
                            *ngIf="searchOption && searchOption == 'site'" (change)="handleSiteSelect($event)">
                            <option [value]="site" *ngFor="let site of sites">{{site.nom}}</option>
                        </select>

                        <select [(ngModel)]="centre" class="form form-control"
                            *ngIf="searchOption && searchOption == 'centre'" (change)="handleCentreSelect($event)">
                            <option [value]="centre" *ngFor="let centre of centres">{{centre.nom}}</option>
                        </select>
                    </div>

                    <div class="search_value">
                        <span>Rechercher</span>
                        <div>
                            <input type="text" name="value" id="value" [(ngModel)]="searchValue"
                                (keyup)="handleSearchValue($event)">
                            <i class="fa fa-close pull-right" *ngIf="searchValue" (click)="searchValue = ''"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table id="table">
                    <tr>
                        <th>
                            <div>
                                Décision Admissibilité
                            </div>
                        </th>
                        <th>
                            <div>
                                Pays <i class="icon-sort {{this.sortProperty == 'pays' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'pays'}" (click)="sort('pays')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Centre d'examen <i
                                    class="icon-sort {{this.sortProperty == 'centre' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'centre'}" (click)="sort('centre')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Formations <i
                                    class="icon-sort {{this.sortProperty == 'formation' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'formation'}"
                                    (click)="sort('formation')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Langue <i class="icon-sort {{this.sortProperty == 'langue' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'langue'}" (click)="sort('langue')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Nom <i class="icon-sort {{this.sortProperty == 'nom' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'nom'}" (click)="sort('nom')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Prénom <i class="icon-sort {{this.sortProperty == 'prenom' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'prenom'}" (click)="sort('prenom')"></i>
                            </div>
                        </th>

                        <th>
                            <div>
                                Genre <i class="icon-sort {{this.sortProperty == 'genre' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'genre'}" (click)="sort('genre')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Jury 1 <i class="icon-sort {{this.sortProperty == 'jury1' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'jury1'}" (click)="sort('jury1')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Jury 2 <i class="icon-sort {{this.sortProperty == 'jury2' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'jury2'}" (click)="sort('jury2')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Jury 3 <i class="icon-sort {{this.sortProperty == 'jury3' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'jury3'}" (click)="sort('jury3')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Jury 4 <i class="icon-sort {{this.sortProperty == 'jury4' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'jury4'}" (click)="sort('jury4')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Sommes notes <i
                                    class="icon-sort {{this.sortProperty == 'somme_note' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'somme_note'}"
                                    (click)="sort('somme_note')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Nombre Notes <i
                                    class="icon-sort {{this.sortProperty == 'nombre_note' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'nombre_note'}"
                                    (click)="sort('nombre_note')"></i>
                            </div>
                        </th>

                    </tr>
                    <tr *ngFor="let candidature of candidatures">
                        <td><input class="checkbox" type="checkbox" name="validate"
                                (change)="validateCandidats($event, candidature)" /></td>
                        <td>{{'Pays'}}</td>
                        <td>{{candidature.centre}}</td>
                        <td>{{candidature.Formation1}}, {{candidature.Formation2}}, {{candidature.Formation3}}</td>
                        <td>{{candidature.langue}}</td>
                        <td>{{candidature.compte.name}}</td>
                        <td>{{candidature.compte.prenom}}</td>
                        <td>{{candidature.Genre}}</td>
                        <td>{{"20"}}</td>
                        <td>{{"20"}}</td>
                        <td>{{"20"}}</td>
                        <td>{{"16"}}</td>
                        <td>{{"9"}}</td>
                        <td>{{"2"}}</td>
                    </tr>
                    <tr *ngIf="searchValue && candidatures.length === 0">
                        <td colspan="14"><span class="vh-center">
                                Aucune candidatures trouvés avec ces lettres dans son nom
                            </span></td>
                    </tr>
                    <tr *ngIf="!searchValue && candidatures.length === 0">
                        <td colspan="14"><span class="vh-center">
                                Aucune candidatures presents dans la base
                            </span></td>
                    </tr>
                </table>
            </div>
            <div class="pagination_content">
                <span>Page {{page}} sur {{nbrOfPage}}, avec {{candidatures.length}} entrées affichées</span>
                <ul class="pagination">
                    <li class="paginate_button previous disabled" id="datatable-responsive_previous" *ngIf="page > 1">
                        <a aria-controls="datatable-responsive" data-dt-idx="0" tabindex="0"
                            (click)="previous()">Précedent</a>
                    </li>
                    <li class="paginate_button active">
                        <a aria-controls="datatable-responsive" data-dt-idx="1" tabindex="0">1</a>
                    </li>
                    <li class="paginate_button next disabled" id="datatable-responsive_next" *ngIf="page < nbrOfPage">
                        <a aria-controls="datatable-responsive" data-dt-idx="2" tabindex="0"
                            (click)="next()">Suivant</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>