<section class="calendrier-entretien-page calendrier-page page-content">
    <h1 class="page-title"> Entretiens <i class="pi pi-angle-right"></i> Calendrier des entretiens 
        <button (click)="downloadPlanningEntretien()" pButton pRipple type="button" icon="pi pi-download" class="ml-2 p-button-sm p-button-raised p-button-rounded p-button-warning p-button-text" pTooltip="Télécharger le calendrier des entretiens"></button>

      </h1>

    <div class="card">
        <div class="header">
            <div>
                <h3 class="title">Calendrier final des entretiens</h3>
                <span class="text-sm cursor-pointer hover:text-orange-500" (click)=" showAllInterviewer()" *ngIf="compte.role != 'JURY'">
                    <i class="pi pi-eye-slash" *ngIf="showForAllInterviwer"></i>
                    <i class="pi pi-eye" *ngIf="!showForAllInterviwer"></i>
                    Visualisation pour l'ensemble des intervenants
                </span>
            </div>
            <div>
                <p-dropdown [options]="interviewers" (onChange)="handleInterviewerSelect($event)" [showClear]="true"
                    [(ngModel)]="interviewer" placeholder="Choisir un intervenant"
                    *ngIf="compte.role != 'JURY'"></p-dropdown>
                <button class="btn btn-danger ml-1 mr-1" (click)="previousDate()" *ngIf="datesOfEntretiens.length > 1">
                    Date précédente
                </button>
                <button class="btn btn-primary" (click)="prochaineDate()" *ngIf="datesOfEntretiens.length > 1">
                    Date suivante
                </button>
            </div>
        </div>
        <div class="line"></div>

        <div class="sub-header">
            <h3 class="title">Entretiens concours Ucac-Icam</h3>
            <h3 class="title" *ngIf="currentDate">{{currentDate | date}}</h3>
        </div>

        <div class="calendrier">
            <table id="table">
                <thead>
                    <th>Horaire</th>
                    <th>Centre d'examen</th>
                    <th>Noms</th>
                    <th>Prénom</th>
                    <th>Intervenants</th>
                </thead>
                <tbody>
                    <tr *ngFor="let entretien of entretiensBeforeBreak; let i = index">
                        <td>{{(entretien.disponibility.debut_disponibilite | date:'H:mm') + ' - ' +
                            (entretien.disponibility.fin_disponibilite|
                            date:'H:mm')}} </td>
                        <td>{{entretien.centre}}</td>
                        <td>{{entretien.candidat.compte.name}}</td>
                        <td>{{entretien.candidat.compte.prenom}}</td>
                        <td class="rowspan" [attr.rowspan]="entretiensBeforeBreak.length + 1" *ngIf="i == 0 && !showForAllInterviwer" >
                            <div>{{entretien.interviewer}}</div>
                        </td>
                        <td  *ngIf="showForAllInterviwer" >
                            <div>{{entretien.interviewer}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>12h00 - 13h00</td>
                        <td colspan="4" class="pause">Pause</td>
                    </tr>
                    <tr *ngFor="let entretien of entretiensAfterBreak; let i = index">
                        <td>{{(entretien.disponibility.debut_disponibilite | date:'H:mm') + ' - ' +
                            (entretien.disponibility.fin_disponibilite|
                            date:'H:mm')}} </td>
                        <td>{{entretien.centre}}</td>
                        <td>{{entretien.candidat.compte.name}}</td>
                        <td>{{entretien.candidat.compte.prenom}}</td>
                        <td class="rowspan" [attr.rowspan]="entretiensAfterBreak.length + 1" *ngIf="i == 0">
                            <div>{{entretien.interviewer}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</section>