$colors: (
    primary: (
        100: hsl(25, 89%, 86%),
        // couleur principale de l'applications
        200: hsl(25, 89%, 76%),
        300: hsl(25, 89%, 66%),
        400: hsl(25, 89%, 56%),
        500: hsl(25, 89%, 46%),
    ),
    secondary: (
        100: hsl(356, 79%, 86%),
        // couleur secondaire de l'applications
        200: hsl(356, 79%, 76%),
        300: hsl(356, 79%, 66%),
        400: hsl(356, 79%, 56%),
        500: hsl(356, 79%, 46%),
    ),
    tertiary: (
        100: hsl(210, 12%, 97%),
        // couleur tertiare de l'applications, ex: pour les bouttons d'annulation
        200: hsl(0, 2%, 94%),
        300: hsl(0, 2%, 84%),
        400: hsl(0, 2%, 74%),
        500: hsl(0, 2%, 64%),
    ),
    success: (
        100: hsl(117, 36%, 89%),
        200: hsl(117, 36%, 79%),
        300: hsl(117, 36%, 69%),
        400: hsl(117, 36%, 59%),
        500: hsl(117, 36%, 49%),
        600: hsl(162, 86%, 30%),
    ),
    warning: (
        100: hsl(40, 79%, 84%),
        200: hsl(40, 79%, 74%),
        300: hsl(40, 79%, 64%),
        400: hsl(40, 79%, 54%),
        500: hsl(40, 79%, 44%),
        600: hsl(46, 100%, 50%),
    ),
    info: (
        100: hsl(211, 100%, 90%),
        200: hsl(211, 100%, 80%),
        300: hsl(211, 100%, 70%),
        400: hsl(211, 100%, 60%),
        500: hsl(211, 100%, 50%),
    ),
    danger: (
        100: hsl(0, 90%, 88%),
        200: hsl(0, 90%, 78%),
        300: hsl(0, 90%, 68%),
        400: hsl(0, 90%, 58%),
        500: hsl(0, 90%, 48%),
    ),
    normal: (
        100: hsl(0, 0%, 57%),
        200: hsl(0, 0%, 47%),
        300: hsl(0, 0%, 37%),
        // couleur du text secondaire
        400: hsl(0, 0%, 0%),
        // couleur du text par defaut
    ),
    default: (
        400: hsl(0, 0%, 100%),
    ),
);
