<section class="home-page page-content">
    <section *ngIf="isAdmin">
        <app-admin-home [datasetsSite]="datasetsSite" [labelsSite]="labelsSite" [datasetsConcour]="datasetsConcour"
            [labelsConcour]="labelsConcour" [statCandidatures]="statCandidatures" [session]="session"></app-admin-home>
    </section>
    <section *ngIf="isJury">
        <app-jury-home [datasetsCandidatEntretenuParSite]="datasetsCandidatEntretenuParSite"
            [labelsCandidatEntretenuParSite]="labelsCandidatEntretenuParSite"
            [datasetsCandidatEntretenuParConcour]="datasetsCandidatEntretenuParConcour"
            [labelsCandidatEntretenuParConcour]="labelsCandidatEntretenuParConcour"
            [datasetsCandidatEntretenuParZone]="datasetsCandidatEntretenuParZone"
            [labelsCandidatEntretenuParZone]="labelsCandidatEntretenuParZone" [statCandidatures]="statCandidatures"
            [session]="session"></app-jury-home>
    </section>
    <section *ngIf="isSuperAdmin">
        <app-super-admin-home [datasetsSite]="datasetsSite" [labelsSite]="labelsSite"
            [datasetsConcour]="datasetsConcour" [labelsConcour]="labelsConcour" [datasetsZone]="datasetsZone"
            [labelsZone]="labelsZone" [statCandidatures]="statCandidatures" [session]="session"></app-super-admin-home>
    </section>
</section>