<section class="compte-page page-content">
    <h1 class="page-title"> Entretiens <i class="pi pi-angle-right"></i> Gestion des entretiens</h1>

    <div class="card">
        <div class="header">
            <h3 class="title">Liste des entretiens
            </h3>
            <!-- <button pButton (click)="showDialog()" style="width: 32px;height: 32px;" pRipple  icon="pi pi-filter"  class="p-button-warning p-button-rounded p-button-raised p-button-text"></button> -->
        </div>
        <div class="line"></div>

        <div class="table-content" *ngIf="false">
            <div class="search-content">
                <div class="select-page-size">
                    <span>Voir</span>
                    <select name="page-size" (change)="handlePageSize($event)" [(ngModel)]="pageSize" id="page-size">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>entrées</span>
                </div>
                <div class="search">
                    <div class="select-item">
                        <span class="label">Categories</span>
                        <select [(ngModel)]="searchOption" (change)="handleCategorieSelect($event)"
                            class="form form-control">
                            <option value="centre">Centre</option>
                            <option value="cycle">Cycle</option>
                        </select>

                        <select class="form form-control" *ngIf="searchOption && searchOption == 'cycle'"
                            (change)="handleCycleSelect($event)">
                            <option value="premier">Premier</option>
                            <option value="second">Second</option>
                        </select>

                        <select class="form form-control" *ngIf="searchOption && searchOption == 'centre'"
                            (change)="handleCentreSelect($event)">
                            <option [value]="centre.id" *ngFor="let centre of centres">{{centre.nom}}</option>
                        </select>
                    </div>

                    <div class="search_value">
                        <span>Rechercher</span>
                        <div>
                            <input type="text" name="value" id="value" [(ngModel)]="searchValue"
                                (keyup)="handleSearchValue($event)">
                            <i class="fa fa-close pull-right" *ngIf="searchValue" (click)="searchValue = ''"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table id="table">
                    <tr>
                        <th>
                            <div>
                                Date d'entretien <i
                                    class="icon-sort {{this.sortProperty == 'debut_entretien' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'debut_entretien'}"
                                    (click)="sort('debut_entretien')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Nom <i class="icon-sort {{this.sortProperty == 'nom' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'nom'}" (click)="sort('nom')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Prenom <i class="icon-sort {{this.sortProperty == 'prenom' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'prenom'}" (click)="sort('prenom')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Jury <i class="icon-sort {{this.sortProperty == 'jury' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'jury'}" (click)="sort('jury')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                Centre <i class="icon-sort {{this.sortProperty == 'centre' ? sortIcon : downUpIcon}}"
                                    [ngClass]="{bold: this.sortProperty == 'centre'}" (click)="sort('centre')"></i>
                            </div>
                        </th>
                        <th>
                            <div>
                                #
                            </div>
                        </th>
                    </tr>
                    <tr *ngFor="let entretien of entretiens">
                        <td>{{entretien.debut_entretien | date: 'MMMM d, y, HH:mm'}} - {{entretien.fin_entretien | date:
                            'HH:mm'}}</td>
                        <td>{{entretien.candidat.compte.name}}</td>
                        <td>{{entretien.candidat.compte.prenom}}</td>
                        <td>{{entretien.jury}}</td>
                        <td>{{entretien.centre}}</td>
                        <td>
                            <button class="btn mt-2" (click)="confirm($event,entretien.id || 0)">
                                <div>
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                                <span>
                                    Supprimer
                                </span>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="searchValue && entretiens.length === 0">
                        <td colspan="6"><span class="vh-center">
                                Aucun entretien trouvé avec ces lettres dans son nom
                            </span></td>
                    </tr>
                    <tr *ngIf="!searchValue && entretiens.length === 0">
                        <td colspan="6"><span class="vh-center">
                                Aucun entretien presentent dans la base
                            </span></td>
                    </tr>
                </table>
            </div>
            <div class="pagination_content">
                <span>Page {{page}} sur {{nbrOfPage}}, avec {{entretiens.length}} entrées affichées, {{totalElement}}
                    éléments au total</span>
                <ul class="pagination">
                    <li class="paginate_button previous disabled" id="datatable-responsive_previous" *ngIf="page > 1">
                        <a aria-controls="datatable-responsive" data-dt-idx="0" tabindex="0"
                            (click)="previous()">Précedent</a>
                    </li>
                    <li class="paginate_button active">
                        <a aria-controls="datatable-responsive" data-dt-idx="1" tabindex="0">1</a>
                    </li>
                    <li class="paginate_button next disabled" id="datatable-responsive_next" *ngIf="page < nbrOfPage">
                        <a aria-controls="datatable-responsive" data-dt-idx="2" tabindex="0"
                            (click)="next()">Suivant</a>
                    </li>
                </ul>
            </div>
        </div>

        <section class="mt-3">
            <p-table #dt1 selectionMode="single" [(selection)]="selectedEntretien" dataKey="candidat.compte.name" 
            (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
                 responsiveLayout="scroll" [value]="entretiens" dataKey="id" [rows]="5"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10, 25, 50]" [loading]="loading"
                [paginator]="true" currentPageReportTemplate="Présente {first} à {last} de {totalRecords} entrées"
                [globalFilterFields]="['compte.name','candidat.compte.prenom', 'candidat.compte.name','jury', 'centre', 'candidat.centre','debut_entretien']">
                <ng-template pTemplate="caption">
                    <div class="vh-space-between flex justify-content-between ">
                        <div>

                            <h2 class="text-lg font-bold">Entretiens programmés</h2>
                            <h4 class="text-orange-500 ">Session de {{session?.date_examen
                                | date:'MMMM':'fr'}}</h4>
                        </div>
                        <div>
                            <button pButton label="Reiniatialiser" class="p-button-outlined mr-2"
                                icon="pi pi-filter-slash" (click)="commonService.clear(dt1)"></button>
                            <span class="ml-2 p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"
                                    (input)="dt1.filterGlobal(getEventValue($event), 'contains')"
                                    placeholder="Rechercher" />
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width:15rem">
                            <div class="flex align-items-center">
                                Nom
                                <p-columnFilter type="text" field="candidat.compte.name"
                                    display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width:15rem">
                            <div class="flex align-items-center">
                                Centre
                                <p-columnFilter type="text" field="centre" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width:15rem" *ngIf="!isJury">
                            <div class="flex align-items-center">
                                Jury
                                <p-columnFilter type="text" field="jury" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width:10rem">
                            <div class="flex align-items-center">
                                Date
                                <p-columnFilter type="date" field="debut_entretien" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width:10rem">
                            <div class="flex align-items-center">
                                Heure
                            </div>
                        </th>
                        <th style="min-width:10rem">
                            <div class="flex align-items-center">
                                Status
                                <p-columnFilter field="status" matchMode="equals" display="menu">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="statuses"
                                            (onChange)="filter($event.value)" placeholder="Any">
                                            <ng-template let-option pTemplate="item">
                                                <p-tag [value]="option.value"
                                                    [severity]="commonService.getSeverity(option.label)"></p-tag>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th style="width:4rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-entretien>
                    <tr>
                        <td>
                            {{ entretien.candidat.compte.name }} {{ entretien.candidat.compte.prenom }}
                        </td>
                        <td>
                            {{ entretien.centre }}
                        </td>
                        <td *ngIf="!isJury">
                            {{ entretien.jury }}
                        </td>
                        <td>
                            {{ entretien.debut_entretien | date: 'MM/dd/yyyy' }}
                        </td>
                        <td>
                            {{ entretien.debut_entretien | date: 'H:mm:ss' }}
                        </td>
                        <td>
                            <p-tag [value]="commonService.getStatusLabel(entretien.status)"
                                [severity]="commonService.getSeverity(entretien.status)"></p-tag>
                        </td>
                        <td>
                            <button type="button" severity="danger" raised="true" pButton pRipple icon="pi pi-trash" (click)="confirm($event,entretien.id || 0)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7" *ngIf="!isJury">Aucun entretien programmé pour le moment.</td>
                        <td colspan="6" *ngIf="isJury">Aucun entretien programmé pour le moment.</td>
                    </tr>
                </ng-template>
            </p-table>
        </section>
    </div>

</section>

<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>