<section class="session-page page-content">
    <h1 class="page-title">Entretiens <i class="pi pi-angle-right"></i> Définition période entretiens</h1>
    <div class="card">
        <div class="header">
            <h3 class="title">Période des entretiens
            </h3>
        </div>
        <!-- <div class="line"></div> -->
        <form class="form" [formGroup]="formDisponibility" (ngSubmit)="createDisponibility()">
            <div class="header">
                Veullez remplir les champs suivants
                <ul style="margin-bottom: 1em;margin-left: 3em;">
                    <li>
                        Date début correspond à la date de début des entretiens.
                    </li>
                    <li>
                        Date fin correspond à la date de fin des entretiens.
                    </li>
                </ul>
                <div class="line"></div>
            </div>
            <div class="main">
                <div class="row">
                    <div class="form-group">
                        <label for="">Session *</label>
                        <select formControlName="session_id"
                            [ngClass]="{required: formDisponibility.get('session_id')!.invalid}">
                            <option value="">Session d'entretion</option>
                            <option [value]="session.id" *ngFor="let session of sessions">{{session.nom}}</option>
                        </select>
                    </div>
                    <div class="alert" *ngIf="formDisponibilityControl['session_id'].errors">
                        <div *ngIf="formDisponibilityControl['session_id'].errors['required']">
                            Veuillez s'il vous plait entrer une
                            valeur
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="">Date de début *</label>
                        <input type="date" formControlName="debut_disponibilite" id=""
                            [ngClass]="{required: formDisponibility.get('debut_disponibilite')!.invalid}" />
                    </div>
                    <div class="alert" *ngIf="formDisponibilityControl['debut_disponibilite'].errors">
                        <div *ngIf="formDisponibilityControl['debut_disponibilite'].errors['required']">
                            Veuillez s'il vous plait entrer une
                            valeur
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="">Date de fin *</label>
                        <input type="date" [value]="formDisponibility.get('fin_disponibilite')?.value"
                            formControlName="fin_disponibilite" id=""
                            [ngClass]="{required: formDisponibility.get('fin_disponibilite')!.invalid}" />
                    </div>
                    <div class="alert" *ngIf="formDisponibilityControl['fin_disponibilite'].errors">
                        <div *ngIf="formDisponibilityControl['fin_disponibilite'].errors['required']">
                            Veuillez s'il vous plait entrer une
                            valeur
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="line"></div>
                <div class="btn-group">
                    <button class="btn btn-info" [disabled]="formDisponibility.invalid" type="submit">
                        Soumettre
                    </button>

                    <button class="btn btn-danger" (click)="formDisponibility.reset()">
                        Renitialiser
                    </button>
                </div>
            </div>
        </form>


    </div>
</section>